{% extends "admin/base_site.html" %}
{% load chartkick %}
{% load static %}

{% block object-tools %}
{% endblock %}

{% block content %}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="{% static "chartkick.js" %}"></script>

  <h3>Docentes com atividade de ensino</h3>
  {% pie_chart ensino with id='chart-1' height='300px' %}

  <h3>Docentes com atividade de pesquisa</h3>
  {% pie_chart pesquisa with id='chart-1' height='300px' %}

  <h3>Docentes com atividade de extensão</h3>
  {% pie_chart extensao with id='chart-1' height='300px' %}
{% endblock %}
