{% extends "admin/base_site.html" %}
{% load chartkick %}
{% load static %}

{% block object-tools %}
  <p class="navbar-brand">Relatório Docente
    {% if centro %}- {{ centro|upper }}{% endif %}
    {% if semestre %}- {{ semestre }}{% endif %}
  </p>
{% endblock %}

{% block content %}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="{% static "chartkick.js" %}"></script>

  <div class="row">
    <div class="col-md-6">
      <h4>Docentes com atividade de ensino</h4>
      {% pie_chart ensino with id='chart-1' height='300px' %}
    </div>
    <div class="col-md-6">
      <h4>Docentes com atividade de pesquisa</h4>
      {% pie_chart pesquisa with id='chart-2' height='300px' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Docentes com atividade de extensão</h4>
      {% pie_chart extensao with id='chart-3' height='300px' %}
    </div>
    <div class="col-md-6">
      <h4>Docentes com atividades de ensino, pesquisa e extensão</h4>
      {% pie_chart ens_pes_ext with id='chart-7' height='300px' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Docentes com atividades de ensino e pesquisa</h4>
      {% pie_chart ens_pes with id='chart-8' height='300px' %}
    </div>
    <div class="col-md-6">
      <h4>Docentes com atividades de ensino e extensão</h4>
      {% pie_chart ens_ext with id='chart-9' height='300px' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Docentes com atividades administrativas</h4>
      {% pie_chart administrativo with id='chart-4' height='300px' %}
    </div>
    <div class="col-md-6">
      <h4>Docentes por tipo de cargo</h4>
      {% pie_chart admin_detalhes with id='chart-5' height='300px' %}
    </div>
  </div>

  <h4>Docentes afastados</h4>
  {% pie_chart afastamento with id='chart-6' height='300px' %}
{% endblock %}
