{% extends "admin/base_site.html" %}
{% load chartkick %}
{% load static %}

{% block object-tools %}
  <p class="navbar-brand">Relatório Docente
    {% if centro %}- {{ centro|upper }}{% endif %}
    {% if semestre %}- {{ semestre }}{% endif %}
  </p>
{% endblock %}

{% block content %}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="{% static "chartkick.js" %}"></script>

  <h3>Docentes com atividade de ensino</h3>
  {% pie_chart ensino with id='chart-1' height='300px' %}

  <h3>Docentes com atividade de pesquisa</h3>
  {% pie_chart pesquisa with id='chart-2' height='300px' %}

  <h3>Docentes com atividade de extensão</h3>
  {% pie_chart extensao with id='chart-3' height='300px' %}

  <h3>Docentes com atividades administrativas</h3>
  {% pie_chart administrativo with id='chart-4' height='300px' %}

  <h3>Docentes por cargo administrativo</h3>
  {% pie_chart admin_detalhes with id='chart-5' height='300px' %}
{% endblock %}
